section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 88px;
  justify-content: center;

  .app {
    overflow: hidden;
    // display: flex;

    padding: 0px 8px 2px 8px;

    border-radius: 12px;
    background-color: var(--modalBgContent);
    box-shadow: 0px 50px 100px -20px rgba(0, 0, 0, 0.15);
    margin: auto;

    .img-container {
      img {
        height: 100%;
        width: 100%;
        border-radius: 8px;
        object-fit: contain;
      }
    }
  }

  .overview {
    width: Min(400px, 80%);

    ul {
      margin: 32px 0px;
      border-radius: 16px;
      display: flex;
      align-items: center;
      gap: 16px;

      li {
        a {
          display: flex;
          gap: 8px;
          align-items: center;
          cursor: pointer;
          padding: 4px;
          border-radius: 24px;
        }
      }

      .logo {
        width: 24px;
        display: flex;
        align-items: center;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 640px) {
  section {
    .app {
      width: 80%;
    }
    .overview {
      margin: auto;
    }
  }
}
