<app-project-header [projectName]="'Noter'" [tools]="tools">
</app-project-header>

<section class="overview">
  <div class="app" *ngIf="currentMode | async as currentMode">
    <img
      src="./assets/noter/noter-dark-mode.svg"
      alt="Noter App Dark Mode"
      *ngIf="currentMode === 'dark'"
    />
    <img
      src="./assets/noter/noter-light-mode.svg"
      alt="Noter App Light Mode"
      *ngIf="currentMode === 'light'"
    />
  </div>
  <div class="description">
    <h4>Overview</h4>
    <p>
      Noter is a minimalistic todo list app developed in Angular using the
      latest framework's update: Angular Signals.
    </p>
    <br />
    <p>
      The Design System includes design tokens following Material Design's
      visual style to provide clear structure of colors roles.
    </p>
    <br />
    <p>
      The goal was to make Noter an app that enhances the note-taking experience
      as easy and pleasant.
    </p>

    <ul class="preview">
      <li>
        <a href="https://ng-noter.vercel.app/" target="_blank">
          <div class="logo">
            <img src="./assets/noter/noter.svg" alt="Noter app logo" />
          </div>
          Life demo</a
        >
      </li>
      <li>
        <a href="https://github.com/kazmonroy/noter" target="_blank">
          <i-feather name="github"></i-feather>
          Repo</a
        >
      </li>
    </ul>
  </div>
</section>

<section class="design-system">
  <h4>Interactions</h4>
  <div class="interactions">
    <div class="delete">
      <button class="delete-icon">x</button>
    </div>
    <div class="mode-toggle">
      <input
        type="checkbox"
        class="mode-checkbox"
        id="checkbox"
        [checked]="mode"
        (click)="toggleMode()"
      />
      <label for="checkbox" class="checkbox-label" [ngClass]="{ dark: !mode }">
        <i-feather name="sun" class="noter-light"></i-feather>

        <i-feather name="moon" class="noter-dark"></i-feather>

        <span class="ball"></span>
      </label>
    </div>
    <div class="filters">
      <div class="filter active">All</div>
      <div class="filter">Active</div>
      <div class="filter">Done</div>
    </div>
  </div>
</section>
<section class="design-system">
  <h4>Color Mapping</h4>
  <div class="display">
    <div *ngFor="let color of colorMapping" class="pantone">
      <div
        class="light"
        [ngStyle]="{
          'background-color': color.light.hexcode,
          color: color.light.text
        }"
      >
        <div class="title">{{ color.light.title }}</div>
        <div class="hexcode">{{ color.light.hexcode }}</div>
      </div>

      <div
        class="dark"
        [ngStyle]="{
          'background-color': color.dark.hexcode,
          color: color.dark.text
        }"
      >
        <div class="title">{{ color.dark.title }}</div>
        <div class="hexcode">{{ color.dark.hexcode }}</div>
      </div>
    </div>
  </div>
</section>
<section class="design-system">
  <h4>Color Roles</h4>
  <div class="display">
    <div
      *ngFor="let color of colorRoles"
      class="role"
      [ngStyle]="{ 'background-color': color.bg, color: color.text }"
    >
      <div class="title">{{ color.title }}</div>
      <ul>
        <li *ngFor="let item of color.roles">
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
</section>
