<section class="top">
  <h2>Noter</h2>
  <ul>
    <li>
      <span>Role</span>
      <p>Dev, Design</p>
    </li>
    <li>
      <span>Tools</span>
      <p>Angular, Vercel, Figma</p>
    </li>

    <li></li>
  </ul>
</section>

<section class="overview">
  <div class="app" *ngIf="currentMode | async as currentMode">
    <img
      src="./assets/noter-dark-mode.svg"
      alt="Noter App Dark Mode"
      *ngIf="currentMode === 'dark'"
    />
    <img
      src="./assets/noter-light-mode.svg"
      alt="Noter App Light Mode"
      *ngIf="currentMode === 'light'"
    />
  </div>
  <div class="description">
    <h4>Overview</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos est
      dolorem debitis. Dolorum, quisquam inventore?
    </p>

    <div class="preview">
      <div class="logo">
        <img src="./assets/noter-logo.png" alt="Noter app logo" />
      </div>

      <a href="https://ng-noter.vercel.app/" target="_blank">Life demo</a>
    </div>
  </div>
</section>
<section class="design-system">
  <h4>Interactions</h4>
  <div class="interactions">
    <div class="delete">
      <button class="delete-icon">x</button>
    </div>
    <div class="mode-toggle">
      <input
        type="checkbox"
        class="mode-checkbox"
        id="checkbox"
        [checked]="mode"
        (click)="toggleMode()"
      />
      <label for="checkbox" class="checkbox-label" [ngClass]="{ dark: !mode }">
        <i-feather name="sun" class="noter-light"></i-feather>

        <i-feather name="moon" class="noter-dark"></i-feather>

        <span class="ball"></span>
      </label>
    </div>
    <div class="filters">
      <div class="filter active">All</div>
      <div class="filter">Active</div>
      <div class="filter">Done</div>
    </div>
  </div>
</section>
<section class="design-system">
  <h4>Color Mapping</h4>
  <div class="display">
    <div *ngFor="let color of colorMapping" class="pantone">
      <div
        class="light"
        [ngStyle]="{
          'background-color': color.light.hexcode,
          color: color.light.text
        }"
      >
        <div class="title">{{ color.light.title }}</div>
        <div class="hexcode">{{ color.light.hexcode }}</div>
      </div>

      <div
        class="dark"
        [ngStyle]="{
          'background-color': color.dark.hexcode,
          color: color.dark.text
        }"
      >
        <div class="title">{{ color.dark.title }}</div>
        <div class="hexcode">{{ color.dark.hexcode }}</div>
      </div>
    </div>
  </div>
</section>
<section class="design-system">
  <h4>Color Roles</h4>
  <div class="display">
    <div
      *ngFor="let color of colorRoles"
      class="role"
      [ngStyle]="{ 'background-color': color.bg, color: color.text }"
    >
      <div class="title">{{ color.title }}</div>
      <ul>
        <li *ngFor="let item of color.roles">
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
</section>
