@use "../../styles/variables" as *;

.showcase {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 4rem;
  color: var(--bgColor);
  overflow-x: hidden;
}

@media (min-width: 1024px) {
  .showcase {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
