<section class="top">
  <h1>I'm Kaz.</h1>
</section>

<section class="content">
  <div class="title">
    <div class="img-container">
      <img
        src="./assets/kaz-monroy-profile-pic.jpeg"
        alt="Katherine Profile Picture"
      />
    </div>

    <div class="copy">
      <h3>Frontend Developer based in Malmö, Sweden.</h3>
      <p>
        After 8+ years in marketing, I found my way into what I enjoy most:
        building intuitive web applications through code!
      </p>
    </div>
  </div>

  <div class="body">
    <p>
      These days, I'm a Frontend Developer with a UX design foundation who loves
      making complex applications feel simple. My expertise lies in React,
      JavaScript, TypeScript, and HTML/CSS, and I'm comfortable with C# and .NET
      for backend tasks. What really gets me excited is being part of the entire
      development journey – from those first brainstorming sessions to seeing
      users interact with the final product.
    </p>
    <p>
      You'll often find me at local tech meetups, geeking out about the latest
      web development trends with like-minded people. Always up for a good chat
      about emerging tech or swapping restaurant recommendations!
    </p>
  </div>
</section>

<app-tools></app-tools>
