<section class="top">
  <h2>I'm Kaz.</h2>
  <div class="content">
    <div class="img-container">
      <img
        src="./assets/kaz-monroy-profile-pic.jpeg"
        alt="Katherine Profile Picture"
      />
    </div>

    <div class="copy">
      <h3>I'm a UX Designer based in Malmö, Sweden.</h3>
      <p>
        I have a diverse background where I’ve spent 8+ years in the marketing
        world then shifting my career into the digital product design and
        development space.
      </p>
    </div>
  </div>
</section>
