@use "../../styles/variables" as *;

.top {
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 8rem;
  gap: 3rem;

  h1 {
    text-align: center;
    color: var(--textPrimary);
    font-family: var(--display-font);
  }

  .title {
    max-width: 100%;
    margin: auto;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .img-container {
      max-width: 400px;
      border-radius: 32px;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .copy {
      display: flex;
      flex-direction: column;
      gap: 14px;
      width: Min(500px, 100%);
    }
  }
}

.body {
  width: Min(500px, 100%);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0 5rem 0;
}

@media (min-width: 768px) {
  .top {
    padding-top: 13rem;
    gap: 5rem;

    .title {
      flex-direction: row;
      gap: 5rem;

      .copy {
        h3 {
          font-size: 48px;
          line-height: 56px;
          font-weight: 400;
        }
      }
    }
  }

  .body {
    padding-top: 5rem;
    gap: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .top {
    max-width: 80%;
  }
}
