<section class="top">
  <h1>I'm Kaz.</h1>
</section>

<section class="content">
  <div class="title">
    <div class="img-container">
      <img
        src="./assets/kaz-monroy-profile-pic.jpeg"
        alt="Katherine Profile Picture"
      />
    </div>

    <div class="copy">
      <h3>Designer & Developer based in Malmö, Sweden.</h3>
      <p>
        I have a diverse background where I've spent 8+ years in the marketing
        world then shifting my career into the digital product design and
        development space.
      </p>
    </div>
  </div>

  <div class="body">
    <p>
      I work as a User Experience Designer and I am also a self-taught Frontend
      Developer. I enjoy helping others navigate design challenges with simple
      solutions and seamless digital experiences driven by research and testing.
    </p>
    <p>
      I believe that equal access to information and digital accessibility has
      the power to create a more just and inclusive world.
    </p>

    <p>
      Today I'm based in Malmö, but originally hail from Guayaquil, Ecuador. I
      have a big love for travel and good food. When I’m not designing, I’m
      coding. Let’s connect to talk about all things design and tech!
    </p>
  </div>
</section>

<app-tools></app-tools>
