:host {
  top: 2%;

  position: fixed;
  z-index: 5;
  left: 0%;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

nav {
  background-color: var(--backdropColor);
  position: sticky;
  backdrop-filter: blur(20px);
  padding: 0.5rem;
  width: fit-content;
  border-radius: 4rem;

  ul {
    display: flex;
    gap: 2px;
    justify-content: center;

    align-items: center;

    li {
      a {
        padding: 8px 12px;

        display: flex;
        align-items: center;

        border-radius: 24px;
        color: var(--textBody);

        font-family: inherit;

        &:hover {
          color: var(--textBodyHover);
          background-color: var(--backdropActive);
        }

        .slash {
          padding: 0px 8px;
          border: 1px solid var(--textBodyHover);
          color: var(--textBodyHover);
          border-radius: 4px;
          font-size: 12px;
          display: none;
          margin-left: 8px;
        }
      }

      .active {
        background-color: var(--backdropActive);
      }
    }
  }
}

@media (min-width: 640px) {
  nav {
    max-width: fit-content;
    padding: 16px;
    ul {
      gap: 16px;

      li {
        a {
          padding: 8px 24px;
          font-size: 16px;

          .slash {
            display: flex;
          }
        }
      }
    }
  }
}
