section {
  padding-top: 3rem;
  width: Min(1200px, 100%);
  margin: auto;

  .display {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
  }
}
