<app-project-header
  [projectName]="'Spire'"
  [tools]="tools"
></app-project-header>

<app-overview
  [imgPath]="'opal/opal-shell.svg'"
  [altText]="'Spire Shopp UI'"
  [links]="links"
>
  <div class="content">
    <p>
      Opal is a project management tool with CRUD features such as creating new
      boards, adding/editing tasks and show real-time updates.
    </p>
    <br />
    <p>
      It's a MEAN Full Stack app with Socket.io to enhance live updates among
      clients. The Design System is inspired by the current Dark Mode design
      trend where Material Design's principles were applied to maximize
      usability and accessibility.
    </p>
    <br />
    <p>
      This project allowed me to scratch the surface of Full Stack development
      and experiment with new technologies to create something that others will
      be pleased to use.
    </p>
  </div>
</app-overview>
