<app-project-header
  [projectName]="'Spire'"
  [tools]="tools"
></app-project-header>

<app-overview
  [imgPath]="'spire/spire-shell.svg'"
  [altText]="'Spire Shopp UI'"
  [links]="links"
>
  <div class="content">
    <p>
      Spire is a Star Wars inspired gear store. It is built with Next.js and
      deployed in Vercel. It integrates Node.js and Sanity headless CMS to
      manage the store's content and Stripe as the payment solution.
    </p>
    <br />
    <p>
      The Design System was customised using Shadcn UI, a powerful open source
      component library for Next.js, and Tailwind for general layout and
      styling.
    </p>
    <br />
    <p>
      In this particular project I explored some AI tools to generate content
      based on Star Wars to portray the store's theme.
    </p>
  </div>
</app-overview>

<section>
  <app-section-header>
    <h4>Color System</h4>
    <p>
      Spire's colour palette was inspired by the Star Wars sequel trilogy. Thus,
      Shadcn UI CSS variables were adapted on both Light and Dark mode themes.
    </p>
  </app-section-header>

  <div class="display">
    <app-color-card
      *ngFor="let color of colorRoles"
      [colorRole]="color"
    ></app-color-card>
  </div>
</section>

<section>
  <app-typography font="Plus Jakarta Sans"></app-typography>
</section>
