section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: center;

  .app {
    overflow: hidden;

    padding: 0px 8px 8px 8px;
    border-radius: 16px;
    background-color: var(--modalBgContent);
    box-shadow: 0px 50px 100px -20px rgba(0, 0, 0, 0.15);
    margin: auto;

    img {
      width: 100%;

      object-fit: cover;
      overflow: hidden;
    }

    .canvas {
      background: white;
      display: grid;
      grid-template-columns: repeat(3, 300px);

      gap: 24px;
      padding: 8rem 1rem;
      border-radius: 8px;
      overflow-x: scroll;
    }
  }

  // .live {
  //   width: 100%;
  // }
  .figma-shell {
    width: 100%;
    margin: auto;
  }

  // .description {
  //   width: Min(400px, 80%);

  //   .preview {
  //     margin: 32px 0px;
  //     border-radius: 16px;
  //     display: flex;
  //     align-items: center;
  //     gap: 16px;

  //     li {
  //       a {
  //         display: flex;
  //         gap: 8px;
  //         align-items: center;
  //         cursor: pointer;
  //         padding: 4px;
  //         border-radius: 24px;
  //       }
  //     }

  //     .logo {
  //       width: 24px;
  //       display: flex;
  //       align-items: center;
  //       img {
  //         width: 100%;
  //       }
  //     }
  //   }
  // }
}

.figma {
  gap: 24px;
  padding: 6rem 0;
}

@media (min-width: 640px) {
  section {
    // .description {
    //   margin: auto;
    // }

    // .live {
    //   width: 60%;
    // }
    .figma-shell {
      width: 80%;
    }
  }

  .figma {
    h4 {
      text-align: center;
    }

    .canvas {
      justify-content: center;
      padding: 8rem 0;
    }
  }
}
