<app-project-header [projectName]="'ngUI'" [tools]="tools">
</app-project-header>

<section class="overview">
  <div class="app live">
    <app-mac-controls></app-mac-controls>

    <img src="./assets/ng-ui/ng-ui.svg" alt="ngUI Landing Plage" />
  </div>
  <div class="description">
    <h4>Overview</h4>
    <p>
      ngUI is a small project that gave me the opportunity to explore further
      Angular's routing capabilities, Directives and Lifecycle Hooks to make a
      component as reusable as possible.
    </p>
    <br />
    <p>
      The goal was to experiment with different Angular's features combined with
      Sass to sharpen my Frontend skills while designing something colorful and
      fun in Figma.
    </p>

    <ul class="preview">
      <li>
        <a href="https://ng-ui.vercel.app/" target="_blank">
          <div class="logo">
            <img src="./assets/ng-ui/ng-ui-logo.svg" alt="ngUI Logo" />
          </div>
          Live demo</a
        >
      </li>
      <li>
        <a href="https://gitlab.com/kazmonroy/ng-components-ui" target="_blank">
          <i-feather name="gitlab"></i-feather>
          Repo</a
        >
      </li>
    </ul>
  </div>
</section>
<section class="figma">
  <h4>Thumbs in Figma</h4>
  <div class="app figma-shell">
    <app-mac-controls [figma]="true"></app-mac-controls>

    <div class="canvas">
      <app-figma-frame
        *ngFor="let thumb of thumbs"
        [component]="thumb"
      ></app-figma-frame>
    </div>
  </div>
</section>
