<app-project-header [projectName]="'ngUI'" [tools]="tools">
</app-project-header>

<app-overview
  [imgPath]="'ng-ui/ng-ui-shell.svg'"
  [altText]="'ng-ui App'"
  [links]="links"
>
  <div class="content">
    <p>
      ngUI is a small project that gave me the opportunity to explore further
      Angular's routing capabilities, Directives and Lifecycle Hooks to make a
      component as reusable as possible.
    </p>
    <br />
    <p>
      The goal was to experiment with different Angular's features combined with
      Sass to sharpen my Frontend skills while designing something colorful and
      fun in Figma.
    </p>
  </div>
</app-overview>

<section>
  <app-section-header>
    <h4>Thumbs in Figma</h4>
  </app-section-header>

  <div class="app">
    <app-mac-controls [figma]="true"></app-mac-controls>

    <div class="canvas">
      <app-figma-frame
        *ngFor="let thumb of thumbs"
        [component]="thumb"
      ></app-figma-frame>
    </div>
  </div>
</section>
<section>
  <app-typography font=" Inter "></app-typography>
</section>
