.top {
  padding: 10rem 0 0rem 0;
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;

  h2 {
    text-align: center;
    color: var(--textPrimary);
    font-family: var(--display-font);
    padding: 2rem 0rem;
  }
}

.projects {
  padding: 5rem 0;
}
