.top {
  padding: 8rem 0 3rem 0;
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;

  h1 {
    text-align: center;
    color: var(--textPrimary);
    font-family: var(--display-font);
  }
}

@media (min-width: 640px) {
  .top {
    padding: 13rem 0 5rem 0;
  }
  .projects {
    padding-bottom: 5rem;
  }
}
