@use "./variables" as *;

@mixin lighten() {
  --bgColor: #{$bgColor_light};
  --textBody: #{$textColor_light};
  --textBodyHover: #{$textColorHover_light};
  --textPrimary: #{$textPrimaryColor_light};

  --backdropColor: #{$backdrop_light};
  --backdropActive: #{$backdrop_active_light};
  --bgSection: #{$sectionContainer_light};

  --bgNotification: #{$notificationBg_light};
  --textNotification: #{$notificationText_light};

  // Noter
  --noterSurfaceContainer: #{$surfaceContainer_light};
  --noterSurface: #{$surface_light};
  --noterFilterHover: #{$filterHover_light};
  --noterTextSecondary: #{$textSecondary_light};
  --noterIconHover: #{$iconHover_light};

  // Modal
  --modalBg: #{$modalBg_light};
  --modalBgContent: #{$modalBgContent_light};
  --modalItemHover: #{$modalBgItemHover_light};

  --shadow-md: #{$shadow-md};
  --shadow: #{$shadow};

  // Link Badge
  --linkBadgeBg: var(--backdropColor);
  --linkBadgeText: #{$link_badge_text_light};
  --linkBadgeBorder: #{$link_badge_border_light};
  --linkBadgeHover: var(--backdropActive);
}

@mixin darken() {
  --bgColor: #{$bgColor_dark};
  --textBody: #{$textColor_dark};
  --textBodyHover: #{$textColorHover_dark};

  --textPrimary: #{$textPrimaryColor_dark};
  --bgContainer: #{$bgContainerColor_dark};

  --backdropColor: #{$modalBg_dark};
  --backdropActive: #{$backdrop_active_dark};
  --bgSection: #{$sectionContainer_dark};

  // Notificaiton
  --bgNotification: #{$notificationBg_dark};
  --textNotification: #{$notificationText_dark};

  // Noter
  --noterSurfaceContainer: #{$surfaceContainer_dark};
  --noterSurface: #{$surface_dark};
  --noterFilterHover: #{$filterHover_dark};
  --noterTextSecondary: #{$textSecondary_dark};
  --noterIconHover: #{$iconHover_dark};

  // Modal
  --modalBg: #{$modalBg_dark};
  --modalBgContent: #{$modalBgContent_dark};
  --modalItemHover: #{$modalBgItemHover_dark};

  // Link Badge
  --linkBadgeBg: #{$link_badge_bg_dark};
  --linkBadgeText: #{$link_badge_text_dark};
  --linkBadgeBorder: #{$link_badge_border_dark};
  --linkBadgeHover: #{$link_badge_hover_dark};
}

@mixin fontSize($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}
