// Nueutrals
$neutral-50: #f0f4f8;
$neutral-100: #d9e2ec;
$neutral-200: #bcccdc;
$neutral-300: #9fb3c8;
$neutral-400: #829ab1;
$neutral-500: #627d98;
$neutral-600: #486581;
$neutral-700: #334e68;
$neutral-800: #243b53;
$neutral-900: #1c212e;

// Secondary
$secondary-50: #fefaed;
$secondary-100: #fdf0c8;
$secondary-200: #fbe7a3;
$secondary-300: #f9dd7e;
$secondary-400: #f9dd7e;
$secondary-500: #f7ce46;
$secondary-600: #f7ce46;
$secondary-700: #c6a538;
$secondary-800: #63521c;
$secondary-900: #31290e;

// Accent

$teal-50: #f0fcf9;
$teal-100: #c6f7e9;
$teal-200: #8eedd1;
$teal-300: #5fe3c0;
$teal-400: #2dcca7;
$teal-500: #17b897;
$teal-600: #079a82;
$teal-700: #048271;
$teal-800: #016457;
$teal-900: #004440;

$bgColor_light: $secondary-50;
$bgColor_dark: $neutral-900;

$textColor_light: $neutral-500;
$textColor_dark: $neutral-200;

$textColorHover_light: $neutral-700;
$textColorHover_dark: $neutral-100;

$textPrimaryColor_light: $neutral-700;
$textPrimaryColor_dark: $secondary-100;

$bgContainerColor_light: #fefaed;
$bgContainerColor_dark: #1c212e;

$shadow_light: $neutral-100;
$shadow_dark: $neutral-800;

$sectionContainer_light: hsla(45, 17%, 95%, 0.8);
$sectionContainer_dark: hsla(160, 52%, 71%, 0.1);

// navbar

$backdrop_light: hsla(45, 17%, 95%, 0.8);
$backdrop_dark: hsla(240, 22%, 17%, 0.7);

$backdrop_active_light: hsla(0, 0%, 100%, 1);
$backdrop_active_dark: hsla(0, 0%, 100%, 0.05);

// Noter

$surfaceContainer_light: #ede7de;
$surfaceContainer_dark: #233831;

$surface_light: #faf8f6;
$surface_dark: #2d483f;

$filterHover_light: #efece7;
$filterHover_dark: hsla(159, 12, 37, 0.7);

$textSecondary_light: #4e6964;
$textSecondary_dark: #d0e9e0;

$iconHover_light: #faf8f6;
$iconHover_dark: hsla(159, 12, 37, 0.7);
