<app-project-header [projectName]="'Opal'" [tools]="tools"></app-project-header>
<section class="overview">
  <div class="app">
    <div class="header">
      <ul class="mac-controls">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <img src="./assets/opal/opal-shell.svg" alt="ngUI Landing Plage" />
  </div>
  <div class="description">
    <h4>Overview</h4>
    <p>
      ngUI is a small project that gave me the opportunity to explore further
      Angular's routing capabilities, Directives and Lifecycle Hooks to make a
      component as reusable as possible.
    </p>
    <br />
    <p>
      The goal was to experiment with different Angular's features combined with
      Sass to sharpen my Frontend skills while designing something colorful and
      fun in Figma.
    </p>

    <ul class="preview">
      <li>
        <a href="https://ng-ui.vercel.app/" target="_blank">
          <div class="logo">
            <img src="./assets/opal/opal-logo.svg" alt="ngUI Logo" />
          </div>
          Live demo</a
        >
      </li>
      <li>
        <a href="https://gitlab.com/kazmonroy/opal-frontend" target="_blank">
          <i-feather name="gitlab"></i-feather>
          Repo</a
        >
      </li>
    </ul>
  </div>
</section>

<section>
  <div class="description">
    <h4>Color System</h4>
    <p>
      Opal’s color system was largely inspired by the current Dark Mode design
      trend. To a range of users, this mode is appealing for its pleasant
      visuals, capability to reduce eye strain and energy-saving displays.
    </p>
  </div>

  <div class="display">
    <div
      *ngFor="let color of colorRoles"
      class="role-card"
      [ngClass]="color.class"
      [ngStyle]="{
        'background-color': color.bg,
        
      }"
    >
      <div class="title">
        {{ color.title }}
      </div>
      <ul>
        <li *ngFor="let item of color.roles">{{ item }}</li>
      </ul>

      <div class="hexcode">#{{ color.hexcode }}</div>
    </div>
  </div>
</section>

<section>
  <h4>Elevation</h4>

  <div class="elevation">
    <ul class="layers">
      <li class="layer">L. 04</li>
      <li class="layer">L. 03</li>
      <li class="layer">L. 02</li>
      <li class="layer">L. 01</li>
    </ul>

    <ul class="layers name">
      <li class="role">DM 500</li>
      <li class="role">DM Black 02</li>
      <li class="role">DM Black 01</li>
      <li class="role">DM Black 00</li>
    </ul>
  </div>
</section>

<section>
  <h4>Typography</h4>
  <div class="typography">
    <h2 class="characters">AaBbCcDd123!@#</h2>
    <p>The quick brown fox jumps over the lazy dog.</p>

    <ul>
      <li>
        <span>Usage</span>
        Headers & Body
      </li>
      <li>
        <span>Font</span>
        Inter
      </li>
    </ul>
  </div>
</section>
