.overview {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 56px;
  justify-content: center;

  .app {
    overflow: hidden;

    padding: 0px 8px 8px 8px;
    border-radius: 16px;
    background-color: var(--modalBgContent);
    box-shadow: 0px 50px 100px -20px rgba(0, 0, 0, 0.15);
    margin: auto;

    .header {
      display: flex;
      .mac-controls {
        display: flex;
        padding: 8px 4px;
        gap: 4px;

        li {
          width: 8px;
          height: 8px;
          border-radius: 50%;

          &:first-child {
            background-color: #fc625d;
          }

          &:nth-child(2) {
            background-color: #fdbc40;
          }
          &:last-child {
            background-color: #35cd4b;
          }
        }
      }
    }

    img {
      border-radius: 8px;
      width: 100%;

      object-fit: cover;
      overflow: hidden;
    }
  }

  .description {
    width: Min(400px, 80%);

    .preview {
      margin: 32px 0px;

      border-radius: 16px;
      display: flex;
      align-items: center;
      gap: 16px;

      li {
        a {
          display: flex;
          gap: 8px;
          align-items: center;
          cursor: pointer;
          padding: 4px;
          border-radius: 24px;
        }
      }

      .logo {
        width: 24px;
        display: flex;
        align-items: center;
        img {
          width: 100%;
        }
      }
    }
  }
}

section {
  padding: 6rem 0;
  width: Min(1200px, 100%);
  margin: auto;

  .display {
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;

    border-radius: 16px;
    background-color: #0b0b15;
    padding: 24px;

    .role-card {
      border-radius: 16px;
      overflow: hidden;
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      min-height: 200px;
      justify-content: space-between;
      cursor: pointer;
      &:hover {
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
          0 4px 6px -4px rgb(0 0 0 / 0.1);
      }

      border: 1px solid #1c1f31;

      .title,
      .hexcode {
        font-weight: 500;
        color: #ffffff;
      }

      ul {
        flex: 1;
        li {
          color: #939db8;
          font-size: 14px;
          font-weight: 300;
          text-overflow: ellipsis;

          /* Needed to make it work */
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }

    .secondary {
      ul {
        li {
          color: #ffffff;
        }
      }
    }

    .reverse {
      border: 1px solid #1c1f31;
      .title,
      .hexcode {
        color: #0f0f1b;
      }

      ul {
        li {
          color: #0f0f1b;
        }
      }
    }
  }

  .typography {
    background-color: var(--modalBgContent);

    padding: 40px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    justify-content: center;

    .characters {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 40px;
      display: flex;
      letter-spacing: 1px;
      overflow: hidden;
    }
    p {
      font-size: 18px;
    }

    ul {
      display: flex;
      gap: 24px;

      li {
        span {
          opacity: 0.5;
        }
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
  }

  .description {
    width: Min(400px, 80%);

    .preview {
      margin: 32px 0px;

      border-radius: 16px;
      display: flex;
      align-items: center;
      gap: 16px;

      li {
        a {
          display: flex;
          gap: 8px;
          align-items: center;
          cursor: pointer;
          padding: 4px;
          border-radius: 24px;
        }
      }

      .logo {
        width: 24px;
        display: flex;
        align-items: center;
        img {
          width: 100%;
        }
      }
    }
  }
  .elevation {
    display: flex;
    flex-direction: column;

    background: #0b0b15;
    min-height: 80vh;
    border-radius: 16px;
    overflow: hidden;
    padding: 16px;

    .layers {
      position: relative;

      background: #0b0b15;
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;

      .layer {
        position: absolute;
        width: Min(190px, 250px);
        height: 140px;
        transform: skew(40deg, -25deg);
        border-radius: 16px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        opacity: 0.8;
        padding: 8px;
        margin-top: 8rem;
        cursor: pointer;
        font-size: 12px;

        &:first-child:hover,
        &:nth-child(2):hover,
        &:nth-child(3):hover,
        &:last-child:hover {
          border: 1px solid #5b63d3;
          box-shadow: 0px 0px 32px 4px #5b63d3;
        }

        &:first-child {
          border: 1px solid #1c1f31;
          background: #1c1f31;
          top: 40px;
          z-index: 4;
          color: #ffffff;
        }

        &:nth-child(2) {
          border: 1px solid #141623;

          background: #141623;
          top: 80px;
          z-index: 3;
          color: #939db8;
        }

        &:nth-child(3) {
          border: 1px solid #1c1f31;
          background: #0f0f1b;
          top: 120px;
          z-index: 2;
          color: #4e5366;
        }

        &:last-child {
          border: 1px solid #1c1f31;
          background: #0b0b15;
          top: 160px;
          z-index: 1;
          color: #4e5366;
        }
      }
    }

    .layers-name {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      place-items: start start;

      .layer {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        justify-content: flex-start;
        font-size: 14px;

        .label {
          display: flex;
          align-items: center;
          gap: 8px;
          color: #ffffff;

          .circle {
            display: inline-block;
            width: 14px;
            height: 14px;
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
            border-radius: 8px;
            background-color: transparent;
          }

          .layer4,
          .layer3,
          .layer2,
          .layer1 {
            background-color: #5b63d3;
          }
        }

        .hexcode {
          padding-left: 24px;

          width: 100%;

          color: #4e5366;
        }
      }
    }
  }
}

@media (min-width: 640px) {
  .overview {
    .app {
      width: 80%;

      .header {
        .mac-controls {
          padding: 10px 8px;
          gap: 8px;

          li {
            width: 12px;
            height: 12px;
            border-radius: 50%;
          }
        }
      }
    }
  }

  section {
    .description {
      margin: auto;
    }

    .typography {
      .characters {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 56px;
      }
      p {
        font-size: 24px;
      }
    }

    .elevation {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 32px;
      min-height: 100vh;

      .layers {
        margin-top: 80px;
        .layer {
          font-size: 16px;
          width: 350px;
          height: 200px;

          &:first-child {
            top: 40px;
          }

          &:nth-child(2) {
            top: 100px;
          }

          &:nth-child(3) {
            top: 160px;
          }

          &:last-child {
            top: 220px;
          }
        }
      }

      .layers-name {
        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;
      }
    }
  }
}
