<app-project-header [projectName]="'Opal'" [tools]="tools"></app-project-header>
<app-overview
  [imgPath]="'opal/opal-shell.svg'"
  [altText]="'Opal App UI'"
  [links]="links"
>
  <div class="content">
    <p>
      Opal is a project management tool with CRUD features such as creating new
      boards, adding/editing tasks and show real-time updates.
    </p>
    <br />
    <p>
      It's a MEAN Full Stack app with Socket.io to enhance live updates among
      clients. The Design System is inspired by the current Dark Mode design
      trend where Material Design's principles were applied to maximize
      usability and accessibility.
    </p>
    <br />
    <p>
      This project allowed me to scratch the surface of Full Stack development
      and experiment with new technologies to create something that others will
      be pleased to use.
    </p>
  </div>
</app-overview>

<section>
  <app-section-header>
    <h4>Color System</h4>
    <p>
      Dark Mode is favoured not only for its pleasant visuals, but also because
      it provides the capability to reduce eye strain allowing users to adjust
      their devices to suit any lighting condition they find themselves in.
    </p>
  </app-section-header>

  <div class="display">
    <app-color-card
      *ngFor="let color of colorRoles"
      [colorRole]="color"
    ></app-color-card>
  </div>
</section>

<section>
  <app-section-header>
    <h4>Elevation</h4>
    <p>
      Working with elevation in Dark Mode can be challenging in getting right.
      Material Design's dark theme colour elevation principles laid the ground
      to work from a hierarchical viewpoint: the higher the elevation of a
      surface, the lighter it should appear.
    </p>
  </app-section-header>

  <div class="elevation">
    <ul class="layers">
      <li
        class="layer l-04"
        (mouseenter)="onHover($event)"
        (mouseleave)="hide($event)"
      >
        L. 04
      </li>
      <li
        class="layer l-03"
        (mouseenter)="onHover($event)"
        (mouseleave)="hide($event)"
      >
        L. 03
      </li>
      <li
        class="layer l-02"
        (mouseenter)="onHover($event)"
        (mouseleave)="hide($event)"
      >
        L. 02
      </li>
      <li
        class="layer l-01"
        (mouseenter)="onHover($event)"
        (mouseleave)="hide($event)"
      >
        L. 01
      </li>
    </ul>

    <div class="layers-name">
      <div class="layer">
        <div class="label">
          <span class="circle" [ngClass]="{ layer4: layer4 }"></span>DM 500
        </div>
        <div class="hexcode">#1C1F31</div>
      </div>
      <div class="layer">
        <div class="label">
          <span class="circle" [ngClass]="{ layer3: layer3 }"></span>DM Black 02
        </div>
        <div class="hexcode">#141623</div>
      </div>
      <div class="layer">
        <div class="label">
          <span class="circle" [ngClass]="{ layer2: layer2 }"></span>DM Black 01
        </div>
        <div class="hexcode">#0F0F1B</div>
      </div>
      <div class="layer">
        <div class="label">
          <span class="circle" [ngClass]="{ layer1: layer1 }"></span>DM Black
        </div>
        <div class="hexcode">#0B0B15</div>
      </div>
    </div>
  </div>
</section>

<section>
  <app-typography font=" Inter "></app-typography>
</section>
