.toggle-btn-container {
  background-color: transparent;
  display: flex;
  align-items: center;

  button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  span {
    padding: 2px 4px;
  }
}

.fill {
  fill: var(--textBody);
  color: var(--textBody);
}
