.toggle-btn-container {
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 4px;

  button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}

.fill {
  fill: var(--textBody);
  color: var(--textBody);

  &:hover {
    color: var(--textBodyHover);
    fill: var(--textBodyHover);
  }
}
