<main>
  <section class="hero">
    <div class="hero-copy">
      <h1>Hi, I'm Kaz.</h1>
      <span>Designer & Developer.</span>
    </div>

    <div class="subtitle">
      <p>
        I'm passionate about crafting experiences that are engaging, accessible,
        and user-centric.
      </p>
    </div>
  </section>

  <section class="showcase">
    <div class="card">
      <div class="header">
        <h3>Figma</h3>
        <p>Designs</p>
      </div>

      <div class="body">
        <div class="img-container">
          <img src="./assets/figma.png" alt="" />
        </div>
      </div>
    </div>
    <div class="card dev">
      <div class="header">
        <h3>VSCode</h3>
        <p>Dev</p>
      </div>

      <div class="body">
        <div class="img-container">
          <img src="./assets/figma.png" alt="" />
        </div>
      </div>
    </div>
  </section>
</main>
