@use "../../../../styles/variables" as *;

.top {
  padding: 4rem 0px;
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;

  h2 {
    text-align: center;
    color: var(--textPrimary);
    font-family: var(--display-font);
    padding: 2rem 0rem;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 24px;
    width: Min(800px, 100%);
    margin: auto;
    align-items: center;
    justify-content: center;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;

      span,
      p {
        font-size: 16px;
      }
    }
  }
}

.overview {
  width: 100%;

  display: flex;
  gap: 32px;
  justify-content: center;
  .app {
    border-radius: 45px;
    overflow: hidden;
    border: 2px solid $neutral-800;
    width: fit-content;
    height: 700px;
    width: fit-content;
  }

  .description {
    width: Min(400px, 80%);
  }
}
.design-system {
  padding: 4rem 0;
  width: Min(1200px, 100%);
  margin: auto;
  .display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 24px;

    .pantone {
      border-radius: 8px;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 60px #202020;
      }

      .light,
      .dark {
        padding: 16px;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
          font-weight: 500;
        }

        .hexcode {
          font-size: 14px;
        }
      }

      overflow: hidden;
    }

    .role {
      border-radius: 8px;
      overflow: hidden;
      padding: 16px;
      display: flex;
      flex-direction: column;
      min-height: 200px;
      justify-content: space-between;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 60px #202020;
      }

      .title {
        font-size: 16px;
        font-weight: 500;
      }

      ul {
        list-style: none;
        li {
          font-size: 14px;
        }
      }
    }
  }

  .elements {
    background-color: hsla(160, 52%, 71%, 0.1);
    border-radius: 8px;

    .icon {
      padding: 4px;
      overflow: hidden;
      width: fit-content;
      display: flex;
      align-items: center;
      border-radius: 100%;

      .noter-light {
        background-color: #8fdcc2;

        color: #233831;
      }

      .noter-dark {
        background-color: #2d483f;

        color: #faf8f6;
      }
    }

    .icon:first-child {
      background-color: #8fdcc2;
    }

    .icon:last-child {
      background-color: #2d483f;
    }

    .icons {
      display: flex;
      gap: 24px;
    }
  }

  .input-wrap {
    position: relative;
    width: fit-content;
    label {
      display: inline-block;
      position: relative;
      height: 44px;
      width: 90px;
      background-color: #fff;
      cursor: pointer;
      font-size: 0;
      color: transparent;
      border-radius: 22px;
    }

    label:after {
      content: "";
      display: block;
      height: 40px;
      width: 40px;
      position: absolute;
      top: 2px;
      right: 48px;
      border-radius: 50%;
      background-color: #e8e8e8;
      box-shadow: 2px 0px 0px rgba(0, 0, 0, 0.15);
    }

    input:checked + label {
      background: #ffd000;
    }

    input:checked + label::after {
      right: 2px;
      background-color: #fff;
      box-shadow: -2px 0px 0px rgba(0, 0, 0, 0.1);
    }

    input {
      // position: absolute !important;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      bottom: 0;
    }

    label {
      transition: background-color 500ms ease;
      &:after {
        transition: right 500ms ease, background-color 500ms ease,
          box-shadow 500ms ease;
      }
    }
  }
}
